{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}پاپل بار - Papelbar{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body class="bg-gray-50">

        {% include 'store/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'store/footer.html' %}

    </body>
</html>